services:
  - type: web
    name: telegram-bot
    env: python
    buildCommand: pip install --upgrade pip && pip install --no-cache-dir --force-reinstall -r requirements.txt
    startCommand: python bot.py
